@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffdd6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
